<a href="https://colab.research.google.com/github/alaqsaka/university-related/blob/PrakDataMining/Tugas_Pert_5_Percobaan_ke_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [575]:
import pandas as pd
csv_path = '/content/hepatitis_praproses.csv'

In [576]:
df = pd.read_csv(csv_path)
df.head()

   Unnamed: 0  Class       AGE  SEX  ...      SGOT   ALBUMIN   PROTIME  HISTOLOGY
0           0      2  0.323944    2  ...  0.006309  0.441860  0.618523          1
1           1      2  0.605634    1  ...  0.044164  0.325581  0.618523          1
2           2      2  1.000000    1  ...  0.028391  0.441860  0.618523          1
3           3      2  0.338028    1  ...  0.059937  0.441860  0.800000          1
4           4      2  0.380282    1  ...  0.293375  0.441860  0.618523          1

[5 rows x 21 columns]

In [577]:
df.drop('Unnamed: 0', inplace=True, axis=1)
# Menghapus kolom yang bukan kategorikal

del df['AGE']
del df['BILIRUBIN']
del df['ALK PHOSPHATE']
del df['SGOT']
del df['ALBUMIN']
del df['PROTIME']

df.head()

   Class  SEX  STEROID  ANTIVIRALS  ...  SPIDERS  ASCITES  VARICES  HISTOLOGY
0      2    2        1           2  ...        2        2        2          1
1      2    1        1           2  ...        2        2        2          1
2      2    1        2           2  ...        2        2        2          1
3      2    1        2           1  ...        2        2        2          1
4      2    1        2           2  ...        2        2        2          1

[5 rows x 14 columns]

**Menentukan variabel independen dan variabel independen**

In [578]:
# Variabel independen 
x = df.drop(["Class"], axis = 1)
print("Variabel independen: ")
print(x.head())

# Variabel dependen 
y = df['Class']
print("Variabel dependen: ")
print(y.head())

Variabel independen:
   SEX  STEROID  ANTIVIRALS  FATIGUE  ...  SPIDERS  ASCITES  VARICES  HISTOLOGY
0    2        1           2        2  ...        2        2        2          1
1    1        1           2        1  ...        2        2        2          1
2    1        2           2        1  ...        2        2        2          1
3    1        2           1        2  ...        2        2        2          1
4    1        2           2        2  ...        2        2        2          1

[5 rows x 13 columns]
Variabel dependen:
0    2
1    2
2    2
3    2
4    2
Name: Class, dtype: int64

**Membagi dataset menjadi dua bagian: data testing (30%) dan data training (70%)**

In [579]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3,random_state=109) # 70% training and 30% test

In [580]:
X_train.shape

(108, 13)

In [581]:
y_train.shape

(108,)

In [582]:
X_test.shape

(47, 13)

In [583]:
y_test.shape

(47,)

**Membuat model latihan dengan menggunakan Multinomial Naive Bayes**

In [584]:
from sklearn.naive_bayes import GaussianNB
#buat objek model Naive Bayes

model = GaussianNB()

Selanjutnya, objek tersebut akan dilatih menggunakan data training. 
Memberikan fitur sebagai input latihan, kelas sebagai prediksinya.

In [585]:
#Latih dengan data
model.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [586]:
# Menentukan hasil prediksi dari x_test
y_pred = model.predict(X_test)
y_pred

array([2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1,
       2, 2, 1, 2, 1, 1, 2, 2, 2, 2, 2, 1, 1, 2, 1, 2, 2, 2, 1, 2, 2, 1,
       2, 1, 2])

In [587]:
import numpy as np
np.array(y_test)

array([2, 2, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 1, 2, 1, 1, 2, 1, 2, 1, 2, 2,
       1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 1, 2, 2, 2,
       2, 2, 2])

In [588]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           1       0.40      0.83      0.54        12
           2       0.91      0.57      0.70        35

    accuracy                           0.64        47
   macro avg       0.65      0.70      0.62        47
weighted avg       0.78      0.64      0.66        47

In [589]:
from sklearn.metrics import accuracy_score 
accuracy_score(y_test, y_pred)

0.6382978723404256